body > div{
    text-align: center;
}
body{
    background-color: #394867;
}
.heading{
    margin-top: 30px;
    color: #F1F6F9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row .column{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #F1F6F9;
    text-align: center !important;
    box-sizing: border-box;
  }
.column {
    text-align: center;
    float: left;
    width: 50%;
    padding: 5px;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
}
table{
    text-align: center;
    width: 103%;
}
.second{
    margin-top: 10vh;
}
.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    color: #F1F6F9;
}
.last > button{
    margin-top: 10vh;
    width: 35%;
    height: 30px;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
footer{
    color: #F1F6F9;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
}
.dFooter{
    color: white;
}